/* Resets Gerais */
* {
    padding: 0;
    margin: 0;
}

/* root */
:root {
    --Color-gray-background: #d4d4d4;
}

/* formatações do top-menu */

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    color: white;
    height: 77px;
    margin: 0 auto;


}

.top-menu h1 {
    font-size: 38px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 70%;
    padding: 12px;

}

/* search container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;


}


.search-container input {
    border: none;
    font-size: 18px;
    width: 290px;
    height: 24px;

}

/* search button */


.fa-magnifying-glass {
    color: red;
    margin-left: -30px;
    font-size: 24px;

    /* end search button */
}

/* service container */
.service {
    display: flex;
    margin: 0 auto;
    color: #fff;
    align-items: center;
}

/* Headset service icone */
.fa-headset {
    font-size: 32px;
    color: #fff;
    padding-right: 24px;
}

/* compre pelo wpp */
/* wpp icone */

.fa-bands {
    font-size: 24px;
    padding: 20px;
}

.fa-square-whatsapp {
    font-size: 32px;
    padding-right: 24px;
}

/* Welcome container */
.welcome {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 42px;
}


/* User icon SUB class */
.fa-circle-user i {
    font-size: 36px;
    /*  padding-right: 42px; */
}

.right-btns {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}

.right-btns i {
    font-size: 24px;
    width: 30px;
    height: 31px;
    margin: 0 auto;
    padding: 20px;

}

/* Shopping icon */
.fa-circle-user {
    font-size: 24px;
}

/* pin container */
.pin-container {
    display: flex;
    padding-top: 14px;
    padding-left: 14px;
    align-items: center;


}

.pin-container input {
    border: none;
    background-color: #fff;
    font-style: italic;
}

/* menu */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid #000; */
    padding: 16px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
}

.menu li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: 56px;

}

.redList {
    color: red;
    text-transform: uppercase;
}

/* cartões vermelhos */
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.item {

    width: 278px;
    height: 172px;
    background: red;
    color: white;
    max-width: 278px;
    padding: 16px;
    border-radius: 10px;
}

.item h3 {
    font-weight: bold;
    text-transform: uppercase;
}

/* formatação do frete */
.frete-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;

}

.frete h3 {
    text-align: end;
    font-size: 40px;
}

.frete p {
    text-align: center;
    font-size: 14px;
    padding-top: 32px;
}

.fa-truck {
    font-size: 75px;
}

/* formatação do express */
.express {
    display: inline;
    align-items: center;

}

.express p {
    text-align: start;
    padding-top: 16px;
    padding-left: 16px;
}

.express-container {
    margin: 0 auto;
    text-align: center;
    width: 243px;
    height: 137px;
}

.fa-clock {
    padding-top: 14px;
    font-size: 72px;
}

/* formatação card */
.card {
    text-align: center;
}

.card h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    margin-top: 16px;
}

.fa-credit-card {
    font-size: 64px;
}

/* formatação app */
.app {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.app h3 {
    text-align: center;
}

.fa-mobile-screen {
    font-size: 72px;
}

/* formatação - link menu */

.link-menu ul li {
    display: inline;
    align-items: center;
    margin: 0 auto;
    padding-left: 56px;

}

.link-menu a {
    color: rgb(90, 90, 90);
}

/* product */
.product{
    display: inline;
    position: absolute;
    left: 601px;
    top: 360px;
}

.product-container {
   display: flex;
   justify-content: space-between;
}

.product-container h3 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* btn do coração */
.product-container i {
    color: red;
    padding-top: 6px;
    padding-left: 24px;
    font-size: 32px;
}

.img-container {
    position: relative;
    padding-top: 42px;
    padding-left: 30px;
    
}

.img-container i {
    color: #000;
    position: absolute;
    top: 10%;
    left: 32%;
    background: #d5d5d5;
    padding: 12px;
    cursor: pointer;
}


.share i{
    cursor: pointer;
    color: red;
    position: absolute;
    top: 10%;
    right: 0.5%;
}


.img-container img {
    width: 512px;
    background-color: rgba(156, 156, 156, 0.3);
}

/* formatação */
.rating{
    padding-top: 16px;
}

.rating i{
    color:yellow;
}

.rating a{
    color: red;
}

.grey i{
    color: grey;
}
/* formatação price container */

.price p{
    padding-top: 12px;
    font-size: 25px;
    font-weight: 900;
}

/* select item */
.select-item{
    display: flex;
    padding-top: 14px;
    padding-bottom: 12px;
}

.e p{
    color: rgb(70, 70, 70);
}
/* img preview (tumblr da img) */
.img-preview{
    padding-bottom: 12px;
}
.img-preview img{
    border-radius: 50%;
    width: 64px;
   
}

.img-preview img:hover{
    border: 1px solid red;
}
/* escolha o tamanho */
.measure{
    display: flex;  
    padding-bottom: 24px;
}


.measure i{
    background-color: rgba(202, 202, 202, 0.247);
}

/* tamanhos p m g gg */
.size{
    display: flex;
    

}

.size p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(204, 204, 204, 0.219);
    border-radius: 50%;
    width: 20px;
    padding: 24px;
    text-align: center;
    margin-right: 24px;
}
.size p:hover{
    border: 1px solid red;
}

/* form do frete */
.frete{
    display: flex;
    padding-top: 24px;
    
}
.frete input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:none;
    background-color: #d4d4d4;
    padding: 14px;
}
.frete button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d5d5d5;
    border:none;
    padding: 14px;
}
.frete button:hover{
    border: 1px solid red;
}

/* vermelhos btns */
.red-btn{
    display: flex;
    color: white;
    padding-top: 24px;
    cursor: pointer;
}

.red-btn p{
    background-color: red;
    padding: 24px;
    border-radius: 10px;
}

.red-btn i{
    margin-left: 28px;
    background-color: red;
    padding: 24px;
    border-radius: 10px;
}

/* infos do cep */
.info{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 24px;
    
}
.info-links p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 8px;
}
/* SUGETION COMPRAR SEPARADO*/
.sugestion{
    position: absolute;
    padding-top: 64px;
    display: flex;
    max-width: 70%;
    justify-content: space-around;
    padding-left: 32px;
    align-items: center;
    margin: 0 auto;
    
}
.unit{
    position: relative;
    padding: 20px;
    max-width: 92px;
    max-height: 82px;
    margin-right: 20px;
}
.unit i{
    color:red;
    position: absolute;
    top: 18%;
    right: 11%;
    font-size: 14px;
}

.unit p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}
.bold{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    size:12px;
    font-weight: bold;
}

.unit img{
    background-color: rgba(99, 99, 99, 0.384);
    width: 100px;
    height: 92px;
    
}
.unit img:hover{
    border: 1px solid red;
}
