/* Resets gerais */

*{
    padding: 0;
    margin: 0;
}

/* formatações do top-menu */

.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    color: white;
    height: 77px;
    
   
}

.top-menu h1{
    font-size: 38px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 40px;
}
/* search container */
.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 8px 16px;
    background-color: #fff;
    margin: 0 auto;
    
}


.search-container input{
    border: none;
    font-size: 18px;
    width: 256px;
    height: 24px;
    
}
/* search button */
.fa-solid {
    font-size: 18px;

}

.fa-magnifying-glass {
    color: red;
    margin-left: -30px;
    /* end search button */
}

/* service container */
.service{
    display: flex;
    margin: 0 auto;
    color: #fff;
}

/* compre pelo wpp */
/* wpp icone */
.fa-bands{
    font-size: 18px;
}

.fa-headset{
    color: #fff;
    
}

/* Welcome container */
.welcome{
    display:flex;
    
    align-items: center;
    margin: 0 auto;
}
/* User icon SUPER class */
.fa-regular {
    font-size: 18px; 
    
}
.right-btns i{
    width: 30px;
    height: 31px;
}


